 body{
          background-color:#04665f;
          color:#fff;
        }
 .error{
        color:red;
      }
 .search{
   color:#000;
   padding: 6px;
   border: none;
   margin-top: auto;
   font-size: 10px;
 }
 .card{
   background-color:#11edb6;
   padding:10px;
 }
 footer{
 margin-top:10px;
 }